
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

:root {
    --clr-green: #78AA58;
    --clr-dark: #1E1A13;
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5rem;
    font-weight: 500;
    padding-top: 7px;
    padding-left: 700px;
    width: 221px;
    height: 59px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
}

.imagen-banner {
    display: flex;
    justify-content: center;
    margin: 0;
}

.intro-texto {
    font-weight: 300;
    width: 30%;
    text-align: justify;
    vertical-align: middle;
}

.intro-section {
    display: flex;
    justify-content: center;
    padding: 30px 60px;
    gap: 40px;
}

.icons-section {
    background: var(--clr-dark);
    opacity: 0.98;
    font-weight: 300;
    text-align: center;
    padding: 40px 0;
}

.icons-section h2 {
    font-weight: 500;
}

.icons-section div {
    display: inline-block;
    width: 20%;
    margin: 1%;
}

.icons-section i{
    color: white;
    font-size: 40px; 
}

.icons-section i:hover{
    color: var(--clr-green);
}

.fotos-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 70px 0;
    & img:hover{
        scale: 1.05;
    }
    & img{
        transition: all 500ms ease-in-out;
    }
}


.footer {
    text-align: center;
    vertical-align: middle;
    background-color: var(--clr-dark);
    padding: 10px 0;
}

.footer h3 {
    font-weight: 300;
    font-size: medium;
}

.footer a, i {
    text-decoration: none;
    color: var(--clr-green);
}